.container {

      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-x: auto;
}

.text {
      margin: 2px;
}

.card {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      align-items: center;
      width: 80vw;
      max-width: 100vw;
      margin-top: 5px;
      border: solid 2px black;
      border-radius: 20px;
      background-color: lightblue
}

.title {
      margin: 0px;
}

.messages_text {
      margin-bottom: 0px
}

.posts_window {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90vw;
}

.postcard_button {
      margin-bottom: 10px;
}